[Unit]
Description=Ebidlocal Watch List Scanner Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ebidlocal
ExecStart=/usr/bin/env /opt/ebidlocal/server --config-path=/opt/ebidlocal/configs/config.json

[Install]
WantedBy=multi-user.target
