<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Ebidlocal Watch List Email Verification</title>

        <style type="text/css">
        </style>
    </head>

    <body bgcolor="#FFFFFF">
        <a href="{{.VerificationLink}}?redirect={{.WatchlistLink}}">Click here to verifiy your email address.</a>

        <p>If the above link does not work copy this one, and paste it into a web browser.
        <{{.VerificationLink}}?redirect={{.WatchlistLink | QueryEscape}}>
        </p>
    </body>
</html>
